.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x: hidden;
  }

  
  .login-details{
    display: flex;
    height: 100%;
  }

  .login .left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Images/background.jpg');
    background-size: cover;
    background-position: center;
    /* margin-top: 30px; */
    /* border-right: 1px solid red; */
  }
  


  .login .left img{
    width: 70%;
  }
  
  .login .right{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #060a23;
   
  }
  
  .login .right .email, .login .right .password{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .login .right .inputs input{
    padding: 10px;
    width: 250px;
    /* font-size: 1.1rem; */
    border-radius: 15px;
    border: none;
    border: 2px solid #383a47;
    background-color: #060a23;
    outline: none;
    color: white;
  }
  
  
  
  .login-details .right .submit button{
  padding: 10px 20px;
  width: 250px;
  margin-top: 20px;
  cursor: pointer;
  /* background-color: #571AE8; */
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.1rem;
  }
  
  .login-page .welcome{
  margin-top: -60px;
  }

  
  .right .login-register{
    margin-top: 33px;
    display: flex;
    color: rgb(81, 81, 83);
  }

  .right .login-register a{
    text-decoration: none;
  }
  
  .right .login-register span{
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .login-page{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  
.message h1{
    color: white;
    text-align: center;
    margin: 20px 0;

}

.message p{
    color: white;
    margin-top: -15px;
    
}

.inputs label{
    color: white;
    margin-left: 5px;
    margin-bottom: 6px;
}

.remember{
    display: flex;
    width: 265px;

    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    color: white;

}

.remember span{
    margin-left: 10px;
}

.footer-message{
    color: rgb(177, 177, 177);
    font-size: 13px;
    margin-top: 100px;
    width: 400px;
    text-align: center;
}

.footer-message .footer-message-tag{
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    margin-top: 10px;
}

.left-title{
    color: white;
    letter-spacing: 5px;
    text-align: center;
}

.forgot{
  font-weight: 500;
  color:rgb(198, 198, 198);
  cursor: pointer;
}

.forgot:hover{
  color: #571AE8;
}

.error-msg{
  color: red;
}

.waiting-msg{
  color: green;
}


@media screen and (max-width:800px) {
  .login .login-details .left{
    display: none;
    background-image: none;
    background-color: red;
    

  }

  .left-title{
    display: none;
    width: 0px;
  }

  .login .login-details .right{
    width: 100vw;
  }
  
}
