.Navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#fff;
    justify-content:space-between;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid rgb(167, 167, 167);
    /* overflow-x: none; */
   
    /* height: 60px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  }
.Navbar .logo{
    display: flex;
    width: 25%;
    justify-content: flex-start;
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #0234ff;
  }
  
  .Navbar .NavbarItem{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
  }
  
  .Navbar .NavbarItem .search{
    position: relative;
  }
  .Navbar .NavbarItem .search input{
    padding: 8px 20px;
    border-radius: 18px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    /* border: 2px; */
    border: 2px solid rgb(6, 90, 244);
    
  }
  .Navbar .NavbarItem .search input:focus{
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  }
  
  .Navbar .NavbarItem .addbtn button{
    padding: 11px;
      font-size: 1rem;
      border-radius: 8px;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: rgb(36, 73, 220);
      color: white;
      transition-duration: 0.5s;
  
  
  }
  
  
  
  .Navbar .NavbarItem .addbtn button:hover{
    background-color: rgb(0, 51, 255);
    color: white;
  
  }

  .dropbtn {
    background: #571AE8;
    padding: 5px;
    border-radius: 8px;
    background-color: #0234ff;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(244, 244, 244, 0.8);
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border-radius: 8px;
    z-index: 1;
    color:black;
  }
  
  .dropdown-content div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .tutorial-link a{
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    background-color: #0234ff;
    color: white;
    cursor: pointer;

    
  }

  .tutorial-link a:hover{
    background-color: #3a2dc8;
  }


  .dropdown-content div:hover {background-color: rgb(134, 134, 134); color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3a2dc8;}
  
  
  

  @media screen and (max-width:800px) {
    .Navbar{
        background-color: white;
      }

      .NavbarItem .search{
        position: sticky;
        top:70px;
        margin-left: -20px;
    
      }

      .NavbarItem .search input{
        font-size: 1.1rem;
        width: 50vw;
      }

      .Navbar .logo{
        margin-left: 10px;
      }
  }